<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>destination</key>
		<string>export</string>
		<key>manageAppVersionAndBuildNumber</key>
		<false />
		<key>method</key>
		<string>app-store</string>
		<key>provisioningProfiles</key>
		<dict>
			<key>tokyo.sheat.T2Mobile</key>
			<string>Provisioning Profile for T2Mobile</string>
		</dict>
		<key>signingCertificate</key>
		<string>12380ECA3C93C0C4C52B7CFAAD61B15D338C3AFA</string>
		<key>signingStyle</key>
		<string>manual</string>
		<key>stripSwiftSymbols</key>
		<true />
		<key>teamID</key>
		<string>CC2UWUR3MQ</string>
		<key>uploadSymbols</key>
		<true />
	</dict>
</plist>